* {
    box-sizing: border-box;
}

:root {
    --border_color: rgb(11, 53, 11);
}

header h1 {
    display: inline-block;
}
header {
    display: inline-block;
    height: 90px;
    width: 100%;
    border: 5px solid var(--border_color);
    border-radius: 10px;
    background-color: rgb(94, 146, 94);
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace
    padding: 10x;
}

header .nav {
    display: inline-flex;
    position: relative;
    float: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;;
    padding: 10px;
    list-style-type: none;
}
.list {
    display: inline-block;
}

#image-1 {
    display: inline-block;
    width: 25%;
    height: 25%;
    margin-top: 20px;
    border: 5px solid var(--border_color);
}
#about_me {
    display: inline-block;
    float: right;
    background-color: rgb(94, 146, 94);
    margin-top: 20px;
    width: 73%;
    border: 5px solid var(--border_color);
    border-radius: 10px;
}

#about_me, h2, h3 {
    margin-left: 5px;
}

.my_projects, h2 {
    text-align: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 40px 20px 40px;
    
}



section h2 {
    flex-direction: column;
    border: 5px solid var(--border_color);
    padding: 10px;
    border-radius: 10px;
    
}
section h2 {
    text-align: center;
}
#image-2 {
    width: 1350px;
    justify-content: center;
    float:center;
    border: 5px solid var(--border_color);
}
#image-2:hover,
#image-2:hover #image-2 {
    box-shadow: inset 0px 0px 10px
    rgb(238, 237, 243), 0 0 15px
    rgb(255, 255, 255);
}
#image-3 {
    width: 620px;
    border: 5px solid var(--border_color);
}
#image-3:hover,
#image-3:hover #image-3 {
    box-shadow: inset 0px 0px 10px
    rgb(238, 237, 243), 0 0 15px
    rgb(255, 255, 255);
}
#image-4 {
    width: 620px;
    border: 5px solid var(--border_color);
}
#image-4:hover,
#image-4:hover #image-3 {
    box-shadow: inset 0px 0px 10px
    rgb(238, 237, 243), 0 0 15px
    rgb(255, 255, 255);
}
#image-5 {
    width: 620px;
    border: 5px solid var(--border_color);
}
#image-5:hover,
#image-5:hover #image-5 {
    box-shadow: inset 0px 0px 10px
    rgb(238, 237, 243), 0 0 15px
    rgb(255, 255, 255);
}
#image-6 {
    width: 620px;
    border: 5px solid var(--border_color);
}
#image-6:hover,
#image-6:hover #image-6 {
    box-shadow: inset 0px 0px 10px
    rgb(238, 237, 243), 0 0 15px
    rgb(255, 255, 255);
}
.project2 {
    display: flex;
    flex-wrap: wrap;
}

#grid {
    display: inline-block;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
}

body {
    background-color: rgb(150, 185, 150);
}
#cm-title, .contact-me{
    display: block;
    text-align: center;
}
.contact-me {
    display: inline-block;
    flex-wrap: wrap;
    position: relative;
    float:middle;
    list-style-type: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(202, 231, 202); 
}

@media screen and (max-width: 770px) {
    header {
        display: flex;
        flex: 0 0 50%;
    }
    .image-2 {
        display: flex;
        flex: 0 0 50%;
      }
    section {
        display: flex;
        flex: 0 0 50%;
      }
}